.main-container
  .cover-slide.inview
    .main-top
      .animate-title.inview_02
        .char
          H
        .char
          i
        .char
          r
        .char
          o
        .char
          k
        .char
          i
        .char.space
          &ensp;
        .char
          A
        .char
          i
        .char
          h
        .char
          a
        .char
          r
        .char
          a
      .appear 
        Portfolio
      .click
        Click me!
      %dl
        %dt ご覧頂きありがとうございます。
        %dd 僕がつくったものがこの世界を回り回って
        %dd どこか誰かの笑い顔をつくっていく。
        %dd そんなプロダクト制作に携われたらいいなと考えおります。
  
  .main-contents
    .main-section#about
      %h2 About
      .main-author
        .main-author__image
          = image_tag "hiroki.png"
        .main-author__introduction
          %h3 相原 大樹 Aihara Hiroki
          %p.txt 秋田県出身, 札幌の調理師学校を卒業後, 
          %p.txt 東京都内のイタリアンレストランで腕を磨く。
          %p.txt 2020年, 生活を豊にするプロダクトを制作するためにプログラミングの道へ。
          %p.txt TECH::CAMP 71期 卒業
    .main-section#works
      %h2 Works
      .main-works
        .main-works__content
          = image_tag "top.jpg", class: "firstImage_01"
          %h3 ~HOME~
          %p 遊びとレシピと交流のプラットフォーム
          = link_to "http://www.your-home2020.com" do
            http://www.your-home2020.com
          %h4 使用技術 / Ruby on Rails / HTML / CSS / JavaScript / AWS
          .main-works__imgLists
            = image_tag "item.png", class: "imageList_01"
            = image_tag "group.png", class: "imageList_01"
            = image_tag "mypage.png", class: "imageList_01"
            = image_tag "mobile.png", class: "imageList_01"
          %p 機能 / 記事投稿・検索・詳細表示・編集・削除 / いいね / フォロー / 通知 / マイページ / ランキング / グループ内交流
        .main-works__content
          = image_tag "portfolio_top.png", class: "firstImage_02"
          %h3 ~Hiroki’s Portfolio~
          %p ポートフォリオ
          = link_to "http://www.hiroki-portfolio.com" do
            http://www.hiroki-portfolio.com
          %h4 使用技術 / HTML / CSS / JavaScript / AWS
          .main-works__imgLists
            = image_tag "portfolio_about.png", class: "imageList_02"
            = image_tag "portfolio_top.png", class: "imageList_02"
            = image_tag "portfolio_works.jpg", class: "imageList_02"
            = image_tag "portfolio_contact.png", class: "imageList_02"
          %p 機能 / スクロール検知 / スムーススクロール / マウスオーバーで写真切り替え
    .main-section#contact
      %h2 Contact
      .main-contact
        = link_to "https://twitter.com/tech_hiroki" do
          .i.fab.fa-twitter-square
        %p ご連絡等はTwitterのDMにてお願い致します